/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {

  font-size: 16px;
}

p, text {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h1, h2 {
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.fp-sr-only {
  display: none;
}

.symptomsChart {
  margin: 10px;
  padding-top: 10px;
}

.symptomsChart .right {
  stroke: white;
  fill: indianred;
}

.symptomsChart .left {
  stroke: white;
  fill: steelblue;
}

.symptomsChart rect:hover {
  fill: #64707d;
}

.symptomsChart text {
  fill: #6dbe45;
}

.symptomsChart text.name {
  fill: black;
}

.symptomsChart text.title {
  fill: #2216ff;
}

.symptomsButton {
  float: right;
}

.symptomsButton input {
  /* display: block;
  background-color: white;
  border: none;
  outline: none; */
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;
  outline: none;
  border-radius: 10px;
  display: block;

  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.symptomsButton input:hover {
  color: #01426a;
  background-color: #c4c4c4;
}

.seekingHelpChart .help {
  stroke: white;
  fill: indianred;
}

.seekingHelpChart rect:hover {
  fill: #64707d;
}

.seekingHelpChart text {
  fill: #6dbe45;
}

.seekingHelpChart text.name {
  fill: black;
}

.seekingHelpChart text.title {
  fill: #2216ff;
}

.help:nth-of-type(2) {
  fill: steelblue;
}
