@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
}

h1 {
  text-align: center;
}

.fp-sr-only {
  display: none;
}

.symptomsChart {
  margin: 10px;
  padding-top: 10px;
}

.symptomsChart .right {
  stroke: white;
  fill: indianred;
}

.symptomsChart .left {
  stroke: white;
  fill: steelblue;
}

.symptomsChart rect:hover {
  fill: #64707d;
}

.symptomsChart text {
  fill: #6dbe45;
}

.symptomsChart text.name {
  fill: black;
}

.symptomsChart text.title {
  fill: #2216ff;
}

.symptomsButton input {
  display: block;
}

.leftscore:nth-of-type(12) {
  display: none;
}

.rightscore:nth-of-type(36) {
  display: none;
}

.name:nth-of-type(24) {
  display: none;
}
